{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"href="{% static 'fav.ico' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Murali MD</title>
</head>
<body>
    <div class="topic">
    <h1>CGPA CALCULATOR</h1>
    </div>
    <div class="it">
    <h1>COMPUTER SCEIENCE AND ENGINEERING</h1>
    </div>
    <h3>Select your year</h3>

    <a href="{% url 'cse2yr' %}"><button type="submit" class="btn1">II</button><br></a>


    <a href="{% url 'cse3yr' %}"><button class="btn2">III</button><br></a>
   
    <a href="{% url 'cse4yr' %}"><button type="submit" class="btn3">IV</button><br></a>


    
    
</body>
</html>