{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"href="{% static 'fav.ico' %}">
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Murali MD</title>
</head>
<body>
    
    <div class="topic">
        <img src="{% static 'pondy-uni.jpeg' %}" width=600px height=180px/>
        <h1>CGPA CALCULATOR</h1> 
    </div>

    <h3>Select your Department</h3>

    <a href="{% url 'sh3' %}"><button type="submit" class="btn1">S&H</button></a>
    <a href="{% url 'form' %}"><button type="submit" class="btn2">IT</button></a>
    <a href="{% url 'cse' %}"><button type="submit" class="btn3">CSE</button><br></a>
    <a href="{% url 'eee' %}"><button type="submit" class="btn4">EEE</button><br></a>
    <a href="{% url 'ece' %}"><button type="submit" class="btn5">ECE</button><br></a>
    <a href="{% url 'mech' %}"><button type="submit" class="btn6">MECH</button><br></a>

   
    
</body>
</html>