{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"href="{% static 'fav.ico' %}">
    <link rel="stylesheet" href="{% static 'css/R3yr5.css' %}">
    <title>MURALI MD</title>
</head>
<body>
    <div class="block1">
        First Semester GPA = {{ S1 }}
    </div>

    <div class="block2">
        Second Semester GPA = {{ S2 }}
    </div>

    <div class="block3">
        Third Semester GPA = {{ S3 }}
    </div>

    <div class="block4">
        Fourth Semester GPA = {{ S4 }}
    </div>

    <div class="block5">
        Fifth Semester GPA = {{ S5 }}
    </div>
    
    <div class="block6">
        Your CGPA is {{ result }} <br>
        Percentage is {{ P }}
    </div>





    


    

</body>
</html>



    
    
